Source: salt-formula-libvirt
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-libvirt
Vcs-Git: https://github.com/tcpcloud/salt-formula-libvirt.git

Package: salt-formula-libvirt
Architecture: all
Depends: ${misc:Depends}
Description: Salt salt formula
 Install and configure Salt masters and minions.
